{% extends 'base.html' %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Registration</li>
    </ul>
    <!--<h3> Registration</h3> -->
    <!--<hr class="soft"/> -->
    <div class="well">
        <script type="text/javascript">
            function showDescField(name) {
                if (name == 'Other') document.getElementById('div1').innerHTML = '<label class="control-label" for="file">New Category Name</label><div class="controls"><input type="text" name="newCategory" id="serviceDesc" required/></div>';
                else document.getElementById('div1').innerHTML = '';
            }

            function validateForm() {

            }
        </script>
        <form class="form-horizontal" name="serviceDetailsForm" enctype="multipart/form-data"
              action="{% url 'saveUserProfile' %}" method="post" onsubmit="return validateForm();">
            {% csrf_token %}

            <div class="control-group">
                <label class="control-label">Choose Category <sup>*</sup></label>
                <div class="controls">
                    <select class="span1" name="category" style="width: 150px"
                            onchange="showDescField(this.options[this.selectedIndex].value)" required>
                        <option value="">select</option>
                        {% block FormCategories %}
                            {% for category in userCategories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        {% endblock %}
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="control-group" id="div1">
            </div>

            <div class="well">
                <!--<form class="form-horizontal" >-->
                <!--<h4>Service Details for {{ categoryType }}</h4> -->

                <div class="control-group">
                    <label class="control-label">Service Name <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="sname" id="sname" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="file">Upload Image<sup>*</sup></label>
                    <div class="controls">
                        <input type="file" name="pic1" id="pic1">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="file">Upload Image<sup>*</sup></label>
                    <div class="controls">
                        <input type="file" name="pic2" id="pic2">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="file">Upload Image<sup>*</sup></label>
                    <div class="controls">
                        <input type="file" name="pic3" id="pic3">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="file">Upload Image<sup>*</sup></label>
                    <div class="controls">
                        <input type="file" name="pic4" id="pic4">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="file">Upload Image<sup>*</sup></label>
                    <div class="controls">
                        <input type="file" name="pic5" id="pic5">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Starting Price<sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="sprice" id="sprice" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Type <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="stype" id="stype" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Offer <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="soffer" id="soffer" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Package <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="spackage" id="spackage" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Service Details <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="sdetails" id="sdetails" maxlength="20" size="25" required>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label">Product Description <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="sdesc" id="sdesc" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">About Product <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="sprod" id="sprod" maxlength="20" size="25" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">About You <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" name="sabout" id="sabout" maxlength="20" size="25" required>
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitRegistration" value="Register"
                               class="exclusive shopBtn">
                        <input type="reset" class="exclusive shopBtn" name="ResetButton" value="Reset">

                    </div>
                </div>
        </form>
    </div>
{% endblock %}
</div>
</div>
